* {
  box-sizing: border-box;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.item {
  flex-basis: 100px;
  height: 100px;
  background-color: orange;
  padding: 10px;
  border: 5px solid red;
  margin: 10px;
  flex: 0 1 auto;
}
/* .item:nth-child(2)
 {
    order: 1;
    flex-basis: 50px;
    align-self: end;
    height: 50px;
   align-self: end;
    background-color: gold;
}
.item:nth-child(3)
 {
    order: 2;
    flex-basis: 80px;
    height: 80px;
    background-color: gold;
} */
