.header {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  padding-top: 32px;

  &__container {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-grow: 1;
  }

  &__menu {
    flex-grow: 1;
    justify-content: center;
    display: flex;
    gap: 64px;
  }
}
